.post-page-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.post-main {
  padding-right: 500px;
  margin-left: -70px;
  margin-top: 50px;
  line-height: 1.6;
}

.heading {
  font-family: "PT Serif";
}

.sidebar {
  width: 100%;
  margin-top: 40px;
}

.publishDate {
  color: black !important;
  font-size: 0.65rem !important;
  font-style: normal !important;
  margin-top: -10px !important;
}

@media only screen and (min-width: 2000px) {
  .post-main {
    padding-right: 1270px;
    margin-left: -420px;
  }

  .sidebar {
    width: 80%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1440px) {
  .post-main {
    padding-right: 460px;
    margin-left: -110px;
  }

  .sidebar {
    width: 90% !important;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1280px) {
  .post-main {
    padding-right: 460px;
    margin-left: -100px;
  }

  .sidebar {
    width: 80%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .post-main {
    padding-right: 240px;

    margin-left: -50px;
  }

  .sidebar {
    width: 90%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }

  .post-main {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 125px;
    padding-left: 120px;

    margin-top: 20px;
  }

  .post-page-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .post-main {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 105px;
    padding-left: 130px;

    margin-top: 20px;
  }

  .post-page-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 426px) {
  .post-main {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 45px !important;
    padding-left: 75px !important;

    margin-top: 20px;
  }
}

@media only screen and (max-width: 376px) {
  .post-main {
    padding: 0 10px !important;
    margin: 10px 0px !important;
  }
}
