h4 {
  font-family: "PT Serif";
}

button {
  box-shadow: none;
}

.tech-tag {
  background: transparent;
  border-radius: 0%;
  border-color: white;
  font-family: "PT Serif";
  font-size: 0.65rem;
  box-shadow: none;
  border-style: none;
}

.tech-tag p {
  color: black;
}