p,
.title {
  font-family: "PT Serif";
}

.index-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.post-list-main {
  padding-right: 790px;
  margin-left: -220px;
}

.sidebar {
  width: 80%;
}

hr {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

.post-date i {
  color: black !important;
  font-size: 0.65rem !important;
  font-style: normal !important;
  margin-top: -10px !important;

}

@media only screen and (max-width: 1280px) {
  .post-list-main {
    padding-right: 370px;
    margin-left: -120px;
  }

  .sidebar {
    width: 85% !important;
  }
}

@media only screen and (max-width: 769px) {
  .post-list-main {
    padding: 0 70px;
    margin-left: 0px;
  }

  .sidebar {
    display: none;
  }

  .index-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 576px) {
  .post-list-main {
    padding: 0px !important;
    margin-left: 0px;
  }
}