.head-main {

  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  display: none;
}

.head-elements {
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-bar {
  width: 100%;
  background: black;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}

.mobile-pages-main {
  width: 100%;
  background: white;
  display: none;
}

.head-logo {
  font-family: "PT Serif";
  font-size: 1.75rem;
}

small {
  font-family: "PT Serif";
}

.mobile-bio-main {
  background: white;
  display: none;
}

@media only screen and (max-width: 850px) {
  .head-main {
    display: block;

  }

  .bottom-bar {
    /* display: flex; */
    display: none;
  }

  .social-links {
    display: none;
  }

  .mobile-pages-main {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px #bababa;
    margin-top: -15px;
    padding-bottom: 5px;

  }

  .nav-item-middle {
    margin-right: 10px;
    margin-left: 10px;
  }


  .mobile-bio-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}